<!doctype html>
<html lang="en">
  <head>
    <title>ecu-Learning - Inicio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body onload = init()>
    {% include 'navbar.html' %}
    <div class="container text-center">
      <h1>¡Bienvenido de nuevo!</h1>
      <h4>Puedes usar el menú para ver las distintas secciones</h4>
      <div class="row">
        <!-- Columna que debe mostrarse al alumno -->
        <div class="col text-center mt-5" id="student_col">
          <div class="mb-3">
          <h2>Ver las nuevas relaciones de problemas publicadas</h2>
          </div>
          <button type="button" onclick="window.location='/relationships_of_problems';" 
          class="btn btn-success btn-lg mt-5 mb-5">
            Explorar relaciones <br>
            de problemas
          </button> <br>
          <img src="static/sistema-ecuaciones.png" alt="Imagen ejemplo sistema de ecuaciones"
          width=50% heigth=50%>
        </div>

        <!-- Columna que debe mostrarse al profesor -->
        <div class="col text-center mt-5" id="professor_col">
          <div class="mb-3">
          <h2>Publicar una relación de problemas</h2>
          </div>
          <button type="button" onclick="window.location='/my_published_problems';" 
          class="btn btn-success btn-lg mt-5 mb-5">
            Mis relaciones <br>
            de problemas
          </button> <br>
          <img src="static/sistema-ecuaciones.png" alt="Imagen ejemplo sistema de ecuaciones"
          width=50% heigth=50%>
        </div>

        <!-- Columna de mi perfil -->
        <div class="col text-center mt-5">
          <div class="mb-4">
          <h2>Acceder a mi perfil</h2> <br>
          </div>
          <button type="button" onclick="window.location='/profile';" 
          class="btn btn-success btn-lg mt-5 mb-5">
            Mi <br>
            perfil</button> <br>
          <img src="static/user-icon.png" alt="Imagen de icono de perfil"
          width=20% heigth=20%>
        </div>
      </div>
    </div>

    <script>

      function createRequest() {
        var result = null;
        if (window.XMLHttpRequest) { // FireFox, Safari, etc.
            result = new XMLHttpRequest();
        } else if (window.ActiveXObject) { // MSIE
            result = new ActiveXObject("Microsoft.XMLHTTP");
        } else {
            alert("Funcionalidad no soportada por el navegador");
        }
        return result;
      }

      function init(){
        checkLogin();
      }

      function checkLogin(){
        var username = sessionStorage.getItem("username");
        if (username === null){
          alert("Debes iniciar sesión para continuar");
          window.location.href = '/';
        } else {
          checkRole();
        }
      }

      function logout(){
        sessionStorage.removeItem("username");
        sessionStorage.removeItem("chosen_problem_id");
        sessionStorage.removeItem("password");
        sessionStorage.removeItem("password_repeat");
        window.location.href = '/';
      }

      function checkRole(){
        var req = createRequest();
        req.onload = function() {
          if (req.readyState === 4 && req.status === 200){
            if (req.responseText != 'null'){
              rolActual = req.responseText;
              setDisabledLinkMenu(rolActual);
            } else {
              alert('Ha ocurrido un error grave. Vuelve a iniciar sesión');
              logout();
            }  
          }
        };
        var url = "/user/role/" + sessionStorage.getItem("username");
        req.open("GET", url, false);
        req.setRequestHeader('Content-Type', 'application/json');
        req.send()
      }

      function setDisabledLinkMenu(rolActual){
        if(rolActual === '"alumno"'){
          document.getElementById('published_problems').setAttribute('hidden',true);
          document.getElementById('professor_col').setAttribute('hidden',true);
          document.getElementById('published_problems').setAttribute('href','#');
        } else if(rolActual == '"profesor"') {
          document.getElementById('solved_problems').setAttribute('hidden',true);
          document.getElementById('student_col').setAttribute('hidden',true);
          document.getElementById('solved_problems').setAttribute('href','#');
        }
      }

    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>