<!doctype html>
<html lang="en">
  <head>
    <title>ecuLearning - Mis relaciones publicadas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="background-color: #dbe9ff;" onload="init()">
    {% include 'navbar.html' %}
    <div class="container text-center bg-light border">
      <h1>Mis relaciones publicadas</h1>
      <div class = "mt-4">
          <a href="publish_page" class="btn btn-primary mb-2">Publicar una nueva relación</a>
      </div>

        <div class="form-group border-top">
          <div class="mt-3">
            <l><b>Buscar relaciones por nombre de relación</b></l>
            <input type="search" class="form-control mx-auto mt-1" id="inputSearch" placeholder="Nombre de la relación"
            style="width: 500px;">
          </div>
        </div>
        <button type="submit" class="btn btn-primary" onclick="filterRelationsByName()">Buscar relación</button>
        <button type="submit" class="btn btn-primary" disabled id="button_reset_filter"
        onclick="resetRelationsShowed()">Resetear filtro</button>
        <div id="relations_published">

        </div>
    </div>


  <script>

    function init(){
      checkLogin();
    }

    function createRequest() {
      var result = null;
      if (window.XMLHttpRequest) { // FireFox, Safari, etc.
          result = new XMLHttpRequest();
      } else if (window.ActiveXObject) { // MSIE
          result = new ActiveXObject("Microsoft.XMLHTTP");
      } else {
          alert("Funcionalidad no soportada por el navegador");
      }
      return result;
    }

    function checkLogin(){
      var username = sessionStorage.getItem("username");
      if (username === null){
        alert("Debes iniciar sesión para continuar");
        window.location.href = '/';
      } else {
        // Si todo ha ido bien, hay que ver si el rol es el correcto
        checkRole();
      }
    }

    function checkRole(){
      var req = createRequest();
      req.onload = function() {
        if (req.readyState === 4 && req.status === 200){
          if (req.responseText != '"profesor"'){
            alert('Acceso denegado');
            window.location.href = "initial_page";
          } else {
            // Si el usuario tiene el rol correcto, le mostramos los
            // problemas que haya publicado
            rolActual = req.responseText;
            setDisabledLinkMenu(rolActual);
            showRelationsPublished();
          }
        }
      };
      var url = "/user/role/" + sessionStorage.getItem("username");
      req.open("GET", url, false);
      req.setRequestHeader('Content-Type', 'application/json');
      req.send()
    }

    function setDisabledLinkMenu(rolActual){
        if(rolActual === '"alumno"'){
          document.getElementById('published_problems').setAttribute('hidden',true);
          document.getElementById('published_problems').setAttribute('href','#');
        } else if(rolActual == '"profesor"') {
          document.getElementById('solved_problems').setAttribute('hidden',true);
          document.getElementById('solved_problems').setAttribute('href','#');
        }
      }

      function logout(){
        sessionStorage.removeItem("username");
        sessionStorage.removeItem("chosen_problem_id");
        sessionStorage.removeItem("password");
        sessionStorage.removeItem("password_repeat");
        window.location.href = '/';
      }

    function showRelationsPublished(){
      var request = new createRequest();
      request.onload = function(){
        if (request.readyState === 4 && request.status === 200){
          // Array de diccionarios
            block_of_relations = document.getElementById("relations_published");
            while (block_of_relations.firstChild) {
              block_of_relations.removeChild(block_of_relations.lastChild);
            }
          response = JSON.parse(request.responseText);
          appendRelations(response);
        }
      };
      var url = "/published_problems/" + sessionStorage.getItem("username");
              request.open("GET", url, false);
              request.setRequestHeader('Content-Type', 'application/json');
              request.send();
    }

    function resetRelationsShowed(){
      document.getElementById("button_reset_filter").setAttribute("disabled",true);
      showRelationsPublished();
    }

    function appendRelations(response){
      block_of_relations = document.getElementById("relations_published");
      for (i = 0; i < response.length; i++){
        var divisor = document.createElement("div");
        divisor.classList.add("container");
        divisor.classList.add("form-inline");
        divisor.classList.add("border-top");
        divisor.classList.add("mt-5");
        divisor.classList.add("border-bottom");
        divisor.id = "div_problem_"+(i+1).toString();

        var autor = document.createElement("h5");
        autor.innerText = "Autor: " + response[i]['autor'];
        autor.classList.add("mr-3");
        divisor.appendChild(autor);

        var titulo = document.createElement("h5");
        titulo.innerText = "Título de la relación: "+ response[i]['titulo'];
        titulo.classList.add("mr-3");
        divisor.appendChild(titulo);

        var fecha = document.createElement("h5");
        fecha.innerText = "Fecha de creación: " + response[i]['fecha_creacion'];
        fecha.classList.add("mr-3");
        divisor.appendChild(fecha);

        var object_id = response[i]['object_id'];
        var boton_inspeccionar = createButtonInspect(object_id);
        divisor.appendChild(boton_inspeccionar);

        var boton_eliminar = createButtonDelete(object_id);
        divisor.appendChild(boton_eliminar);
        block_of_relations.appendChild(divisor);
      }
    }

    function showDetailsOfRelation(object_id){
      sessionStorage.setItem("chosen_problem_id", object_id);
      window.location.href = "/details_page";
    }

    function createButtonInspect(object_id){
      var boton_inspeccionar = document.createElement("button");
      boton_inspeccionar.classList.add("btn");
      boton_inspeccionar.classList.add("btn-primary");
      boton_inspeccionar.innerText = "Ver relación";
      boton_inspeccionar.onclick = function() {
        showDetailsOfRelation(object_id);
      };
      return boton_inspeccionar;
    }

    function createButtonDelete(object_id){
      var boton_eliminar = document.createElement("button");
      boton_eliminar.classList.add("btn");
      boton_eliminar.classList.add("btn-danger");
      boton_eliminar.classList.add("ml-3")
      boton_eliminar.innerText = "Eliminar relación";
      boton_eliminar.onclick = function() {
        deleteRelation(object_id);
      };
      return boton_eliminar;
    }

    function deleteRelation(object_id){
      var confirmation = confirm("¿Estás seguro de eliminar esta relación de problemas?");

      if (confirmation){
        var request = new createRequest();
        request.onload = function(){
          if (request.readyState === 4 && request.status === 200){
            alert("Se ha eliminado correctamente la relación");
            showRelationsPublished();
          } else {
            alert("Ha ocurrido un erro al eliminar la relación. Inténtalo más tarde");
          }
          }
        };
        var url = "/published_problems/id/" + object_id;
        request.open("DELETE", url, false);
        request.setRequestHeader('Content-Type', 'application/json');
        request.send();
      }

    function filterRelationsByName(){
      var inputFilter = document.getElementById("inputSearch").value;
      var request = new createRequest();
      block_of_relations = document.getElementById("relations_published");
      while (block_of_relations.firstChild) {
        block_of_relations.removeChild(block_of_relations.lastChild);
      }
      request.onload = function(){
        if (request.readyState === 4 && request.status === 200){
          inputFilter.value="";
          response = JSON.parse(request.responseText);
          appendRelations(response);
          document.getElementById("button_reset_filter").removeAttribute("disabled");
        } else {
          alert("No se han encontrado relaciones con ese nombre");
        }
      };
      var url = "/published_problems/" + sessionStorage.getItem("username")+ "/" + inputFilter;
      request.open("GET", url, false);
      request.setRequestHeader('Content-Type', 'application/json');
      request.send();
    }

  </script>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>