<!doctype html>
<html lang="en">
  <head>
    <title>ecuLearning - Mi perfil</title>
    <!-- Required meta tags -->
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
  </head>
  <body style="background-color: #dbe9ff;" onload="init()">
    {% include 'navbar.html' %}
    <div class="container text-center bg-light border">
        <h1>Mi perfil</h1>
        <div id="data_display" class="border-top border-bottom mt-3">
        </div>
        <button type="submit" class="btn btn-primary mt-3" 
        onclick="window.location.href = '/edit_profile'">
            Editar perfil</button>
    </div>

    <script>

        function init(){
        checkLogin();
        showProfileData();
        }

        function createRequest() {
            var result = null;
            if (window.XMLHttpRequest) { // FireFox, Safari, etc.
                result = new XMLHttpRequest();
            } else if (window.ActiveXObject) { // MSIE
                result = new ActiveXObject("Microsoft.XMLHTTP");
            } else {
                alert("Funcionalidad no soportada por el navegador");
            }
            return result;
        }

        function checkLogin(){
            var username = sessionStorage.getItem("username");
            if (username === null){
                alert("Debes iniciar sesión para continuar");
                window.location.href = '/';
            } else {
              checkRole();
            }
        }

    function showProfileData(){
      var request = new createRequest();
      request.onload = function(){
        if (request.readyState === 4 && request.status === 200){
          // Array de diccionarios
            block_of_relations = document.getElementById("data_display");
            while (block_of_relations.firstChild) {
              block_of_relations.removeChild(block_of_relations.lastChild);
            }
          response = JSON.parse(request.responseText);
          appendProfileData(response);
        }
      };
      var url = "/profile/" + sessionStorage.getItem("username");
              request.open("GET", url, false);
              request.setRequestHeader('Content-Type', 'application/json');
              request.send();
    }

    function appendProfileData(response){
        block_of_data = document.getElementById("data_display");

        var usuario = document.createElement("h5");
        usuario.innerText = "Nombre de usuario: " + response['nombre_usuario'];
        usuario.classList.add("mr-3");
        block_of_data.appendChild(usuario);

        var nombre_completo = document.createElement("h5");
        nombre_completo.innerText = "Nombre completo de usuario: "+ response['nombre_completo'];
        nombre_completo.classList.add("mr-3");
        block_of_data.appendChild(nombre_completo);

        var email = document.createElement("h5");
        email.innerText = "Correo electrónico: " + response['email'];
        email.classList.add("mr-3");
        block_of_data.appendChild(email);

        var rol = document.createElement("h5");
        rol.innerText = "Rol de usuario: " + response['rol'];
        rol.classList.add("mr-3");
        block_of_data.appendChild(rol);

    }

    function checkRole(){
      var req = createRequest();
      req.onload = function() {
        if (req.readyState === 4 && req.status === 200){
          if (req.responseText != 'null'){
            rolActual = req.responseText;
            setDisabledLinkMenu(rolActual);
          } else {
            alert('Ha ocurrido un error grave. Vuelve a iniciar sesión');
            logout();
          }  
        }
      };
      var url = "/user/role/" + sessionStorage.getItem("username");
      req.open("GET", url, false);
      req.setRequestHeader('Content-Type', 'application/json');
      req.send()
    }

    function setDisabledLinkMenu(rolActual){
      if(rolActual === '"alumno"'){
        document.getElementById('published_problems').setAttribute('hidden',true);
        document.getElementById('published_problems').setAttribute('href','#');
      } else if(rolActual == '"profesor"') {
        document.getElementById('solved_problems').setAttribute('hidden',true);
        document.getElementById('solved_problems').setAttribute('href','#');
      }
    }

    function logout(){
        sessionStorage.removeItem("username");
        sessionStorage.removeItem("chosen_problem_id");
        sessionStorage.removeItem("password");
        sessionStorage.removeItem("password_repeat");
        window.location.href = '/';
      }

    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>